/******About Us******/


.about-cover-img {
    width: 1440px !important;
    height: 252px !important;
}


.aboutus-style {
    position: relative;
    top: -125px;
    font-size: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******Our Story******/

.vision,
.mission {
    text-align: center;
    padding: 20px;
    color: #00095A;
}

.our-story-content {
    color: #4B4B4B;
    opacity: 0.9;
}

/*******Vision********/

.aboutus-box-center {
    display: flex;
    justify-content: center;
}

.aboutus-vision {
    height: 161px !important;
    width: 650px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px !important;
}

.aboutus-vision-icon-box {
    height: 161px;
    width: 171px !important;
    background: #00095A;
    border-radius: 20px 0 0 20px !important;
}

.aboutus-vision-icon {
    position: relative;
    left: 10px;
    top: 10px;
    width: 120px !important;
    height: 70px !important;
    margin-top: 35px;
}

.aboutus-vision-content {
    position: absolute;
    top: 20px;
    left: 185px;
    color: #4B4B4B;
    font-size: 22px;
}

@media (max-width: 768px) {
    .aboutus-vision-content {
        position: absolute;
        top: 15px;
        font-size: 19px;
    }
}

@media (max-width: 425px) {

    .aboutus-vision {
        height: 131px !important;
        width: 650px !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px !important;
    }

    .aboutus-vision-icon-box {
        height: 131px;
        width: 131px !important;
        background: #00095A;
    }

    .aboutus-vision-icon {
        position: relative;
        left: 5px;
        top: 0px;
        width: 100px !important;
        height: 57px !important;
        margin-top: 36px;
    }

    .aboutus-vision-content {
        position: absolute;
        top: 20px;
        left: 135px;
        color: #4B4B4B;
        font-size: 15px;
    }

}

@media (max-width: 375px) {
    .aboutus-vision-content {
        position: absolute;
        top: 15px;
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .aboutus-vision-content {
        font-size: 12px;
    }
}



/*******Mission********/

.aboutus-box-center {
    display: flex;
    justify-content: center;
}

.aboutus-mission {
    height: 161px !important;
    width: 650px !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px !important;
}


.aboutus-mission-icon-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 171px !important;
    height: 161px;
    background: #00095A;
    border-radius: 0 20px 20px 0 !important;
}

.aboutus-mission-icon {
    position: absolute;
    top: 0;
    left: 27px;
    width: 120px !important;
    height: 95px !important;
    margin-top: 35px;
}

.aboutus-mission-content {
    position: absolute;
    top: 20px;
    right: 180px;
    padding-left: 10px;
    color: #4B4B4B;
    font-size: 22px;
}

@media (max-width: 768px) {
    .aboutus-mission-content {
        position: absolute;
        top: 5px;
        font-size: 19px;
    }
}


@media (max-width: 425px) {
    .aboutus-mission {
        height: 131px !important;
        width: 650px !important;
        border: 1px solid rgba(75, 75, 75, 0.25);
    }

    .aboutus-mission-icon-box {
        height: 131px;
        width: 131px !important;
        background: #00095A;
    }

    .aboutus-mission-icon {
        position: absolute;
        top: 0;
        left: 20px !important;
        width: 90px !important;
        height: 60px !important;
        margin-top: 35px;
    }

    .aboutus-mission-content {
        position: absolute;
        top: 20px;
        right: 135px;
        padding-left: 10px;
        color: #4B4B4B;
        font-size: 15px;
    }

}

@media (max-width: 375px) {
    .aboutus-mission-content {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .aboutus-mission-content {
        position: absolute;
        top: 10px;
        font-size: 12px;
    }
}