html,
body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    overflow-x: clip;
}

.logo {
    position: relative;
    left: 20px;
    width: 185;
    height: 60;
}


@media (max-width:576px) {
    .logo {
        position: relative;
        left: 65px;
        width: 185;
        height: 60;
    }
}

@media (max-width:375px) {
    .logo {
        position: relative;
        left: 39px;
        width: 185;
        height: 60;
    }
}

@media (max-width:320px) {
    .logo {
        position: relative;
        left: 25px;
        width: 185;
        height: 60;
    }
}



#navbar {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

li {
    padding: 10px;
}

.bg-shadow {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    height: 85px !important;
}

a.nav-links {
    font-weight: 600 !important;
    color: #4B4B4B;
    opacity: 0.6;
}

a.nav-links:hover {
    color: rgb(0, 0, 63) !important;
    font-weight: 600 !important;
    border-bottom: 2px solid rgb(0, 0, 63);
    transition: 0.1s !important;
    opacity: 1;
}

a.actived {
    color: rgb(0, 0, 63) !important;
    font-weight: 600 !important;
    border-bottom: 2px solid rgb(0, 0, 63);
    opacity: 1;
}

button.out-line:focus {
    border: 2px solid rgb(0, 0, 63) !important;
}

.btn-bg-color {
    color: rgb(0, 0, 63) !important;
}

.navbar-toggler {
    position: relative;
    right: 10px;
}


/***AJ Mockup***/

.laptop-mockup {
    width: 515;
    height: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width:992px) {
    .laptop-mockup {
        width: 515px;
        height: 300px;
        padding-left: 40px;
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {
    .laptop-mockup {
        width: 515px;
        height: 300px;
        padding-left: 40px;
        margin-bottom: 10px;
    }
}



/***Head Content***/

.head-content {
    position: relative;
    top: 0px;
    left: 0px;
    color: #00095A;
}

.head-content-body {
    position: relative;
    top: 0px;
    left: 0px;
}


@media (max-width: 2560px) {
    .head-content {
        position: relative;
        top: 80px;
        left: 0px;
        color: #00095A;
        margin-bottom: 15px !important;
    }

    .head-content-body {
        position: relative;
        top: 80px;
        left: 0px;
        margin-bottom: 60px !important;

    }
}


@media (max-width: 1440px) {
    .head-content {
        position: relative;
        top: 50px;
        left: 0px;
        text-align: center;
    }

    .head-content-body {
        position: relative;
        top: 50px;
        left: 0px;
    }
}

@media (max-width: 576px) {
    .head-content {
        position: relative;
        top: 0px;
        left: 0px;
        text-align: center;
    }

    .head-content-body {
        position: relative;
        top: 0px;
        left: 0px;
        padding-bottom: 0;
    }
}


/*****Proposal Button*****/



.btn-proposal {
    position: relative;
    top: 0;
    left: 0px;
    background-color: #00095A !important;
    border: none !important;
    border-radius: 20px !important;
}

.btn-proposal:hover {
    background-color: #00095A !important;
    opacity: 0.8;
}

.proposal-link {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}

.proposal-link:hover {
    color: #fff;
}


@media (max-width: 2560px) {
    .btn-proposal {
        position: relative;
        top: 50px;
        left: 0px;
        background-color: #00095A !important;
    }
}

@media (max-width: 1440px) {
    .btn-proposal {
        position: relative;
        top: 10px;
        left: 0px;
        margin-bottom: 35px;
        background-color: #00095A !important;
    }
}


@media (max-width: 576px) {
    .btn-proposal {
        position: relative;
        top: -40px;
        left: 0px;
        margin-bottom: 0px;
        background-color: #00095A !important;
    }
}




/******our vision*****/

.vision-box-center {
    display: flex;
    justify-content: center;

}

.vision-box {
    height: 200 !important;
    width: 650px !important;
    background-color: #fff;
    border: 1px solid rgba(75, 75, 75, 0.25);
    border-radius: 100px 90px 0px 0px !important;
}

.vision-icon-box {
    margin-bottom: 30px;
    margin-left: 0px;
    box-sizing: border-box;
    width: 175px !important;
    height: 200px;
    background: #00095A;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 90px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.vision-icon {
    position: relative;
    top: 60px;
    left: 20px !important;
    width: 130px !important;
    height: 80px;
}

.our-vision {
    font-size: 30px;
    font-weight: 500;
    color: #00095A;
}

.vision-content {
    position: absolute;
    top: 70px;
    left: 200px;
    padding-right: 30px;
    font-size: 20px;
    color: #4B4B4B;
}


@media (max-width:786px) {

    .vision-box {

        border-radius: 75px 75px 0px 0px !important;
    }

    .vision-icon-box {

        border-radius: 0px 75px;

    }

    .our-vision {
        position: absolute;
        top: 10px;
        left: 260px;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        color: #00095A;
    }
}

@media (max-width:576px) {
    .vision-box {
        height: 140px !important;
        border-radius: 60px 60px 0px 0px !important;
    }

    .vision-icon-box {
        width: 105px !important;
        height: 140px;
        background: #00095A;
        box-shadow: -4px 0px 3px rgba(0, 0, 0, 0.25);
        border-radius: 0px 60px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }


    .vision-icon {
        position: relative;
        top: 40px;
        left: 15px !important;
        width: 75px !important;
        height: 50px;
    }

    .our-vision {
        position: absolute;
        top: 10px;
        left: 175px;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        color: #00095A;
    }

    .vision-content {
        position: absolute;
        top: 60px;
        left: 130px;
        font-size: 15px;
        color: #4B4B4B;
    }
}

@media (max-width:425px) {

    .vision-icon {
        position: relative;
        top: 40px;
        left: 15px !important;
        width: 75px !important;
        height: 55px;
    }

    .our-vision {
        position: absolute;
        top: 5px;
        left: 150px;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        color: #00095A;
    }

    .vision-content {
        position: absolute;
        top: 60px;
        left: 130px;
        font-size: 15px;
        color: #4B4B4B;
    }
}

@media screen and (max-width:375px) {
    .our-vision {
        position: absolute;
        top: 10px;
        left: 150px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        color: #00095A;
    }

    .vision-content {
        position: absolute;
        top: 45px;
        left: 120px;
        font-size: 15px;
        color: #4B4B4B;
    }
}

@media screen and (max-width:320px) {
    .our-vision {
        position: absolute;
        top: 5px;
        left: 125px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #00095A;
    }
}




/******our mission*****/

.mission-box-center {
    display: flex;
    justify-content: center;

}

.mission-box {
    height: 200 !important;
    width: 650px !important;
    background-color: #fff;
    border: 1px solid rgba(75, 75, 75, 0.25);
    border-radius: 0px 0px 90px 90px !important;
}

.mission-icon-box {
    position: absolute;
    top: 0px;
    right: 0;
    margin-bottom: 100px;
    margin-left: 193px !important;
    box-sizing: border-box;
    width: 175px !important;
    height: 200px;
    background: #00095A;
    box-shadow: -5px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 90px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.mission-icon {
    position: relative;
    top: 45px;
    left: 30px !important;
    width: 110px !important;
    height: 100px;
}

.our-mission {
    position: relative;
    left: 80px !important;
    font-size: 30px;
    font-weight: 500;
    color: #00095A;
}

.mission-content {
    position: absolute;
    top: 70px;
    right: 190px;
    padding-left: 50px;
    color: #4B4B4B;
    font-size: 20px;
}


@media (max-width:768px) {

    .mission-box {

        border-radius: 0px 0px 75px 75px !important;
    }

    .mission-icon-box {

        border-radius: 0px 75px;

    }
}




@media (max-width:576px) {
    .mission-box {
        height: 140px !important;
        border-radius: 0px 0px 60px 60px !important;
    }

    .mission-icon-box {

        width: 105px !important;
        height: 140px;
        background: #00095A;
        box-shadow: -4px 0px 3px rgba(0, 0, 0, 0.25);
        border-radius: 0px 60px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }

    .mission-icon {
        position: relative;
        top: 40px;
        left: 15px !important;
        width: 75px !important;
        height: 60px;
    }

    .our-mission {
        position: absolute;
        top: 10px;
        left: 200px;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        color: #00095A;
    }

    .mission-content {
        position: absolute;
        top: 50px;
        right: 120px !important;
        padding-left: 40px;
        font-size: 15px;
        color: #4B4B4B;
    }
}

@media screen and (max-width:425px) {
    .mission-box {
        height: 140px !important;
        border-radius: 0px 0px 70px 70px !important;
    }
}

@media screen and (max-width:375px) {
    .our-mission {
        position: absolute;
        top: 10px;
        left: 150px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        color: #00095A;
    }

    .mission-content {
        position: absolute;
        top: 45px;
        right: 110px !important;
        padding-left: 30px;
        font-size: 15px;
        color: #4B4B4B;
    }

}

@media screen and (max-width:320px) {
    .our-mission {
        position: absolute;
        top: 3px;
        left: 35px !important;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #00095A;
    }

    .mission-content {
        position: absolute;
        top: 37px !important;
        right: 110px !important;
        padding-left: 30px;
        font-size: 15px;
        color: #4B4B4B;
    }
}


/******Digital Services*****/

.digital-services {
    padding: 20px;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: #00095A;
}

.digital-card {
    margin: 0px 25 0px 25px;
    border-radius: 20px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mob-app-card {
    background: #00095A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.mob-app-icon {
    position: relative;
    left: 35% !important;
    padding: 20px;
    width: 95px;
    height: 100;
    color: #fff;
}

.mob-app-title {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #fff;
}





@media (max-width:375px) {
    .mob-app-icon {
        position: relative;
        left: 30% !important;
        padding: 20px;
        width: 95px;
        height: 100;
        color: #fff;
    }
    
}








/**Reead more**/

.read-more {
    text-decoration: none;
}


.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
}

.read-more-state~.read-more-trigger:before {
    content: 'Read more...';
    font-weight: 650;
}

.read-more-state:checked~.read-more-trigger:before {
    content: 'Read less';
    font-weight: 650;
}

.read-more-trigger {
    color: red;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
}



/******Development Process*****/

.dev-pro {
    padding: 20px;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: #00095A;
}




/******Our works*****/


.nav-title-circle {
    background-color: rgba(75, 75, 75, 0.1) !important;
    color: rgba(75, 75, 75, 0.5) !important;
    border: 1px solid rgba(75, 75, 75, 0.2) !important;
    border-radius: 30px !important;
    padding: 10px !important;
}

.nav-title-circle:hover {
    background-color: #00095A !important;
    color: #fff !important;
    border-radius: 30px !important;
    padding: 10px !important;
}

a.nav-title-circle.active {
    background-color: #00095A !important;
    color: #fff !important;
    border-radius: 30px !important;
    padding: 10px !important;
}

.our-works {
    padding: 20px;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: #00095A;
}

.our-works-card1 {
    height: 164px;
    border-radius: 20px !important;
    background: rgba(40, 126, 255, 0.75) !important;
    color: #fff !important;
}

.our-works-card2 {
    height: 164px;
    border-radius: 20px !important;
    background: rgba(211, 0, 0, 0.75) !important;
    color: #fff !important;
}

.our-works-card3 {
    height: 164px;
    background: rgba(0, 181, 72, 0.75) !important;
    color: #fff !important;
}

.card1-title,
.card2-title,
.card3-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}



@media (max-width: 786.98px) {
    .nav-title-circle {
        font-size: 12px;
        background-color: rgba(75, 75, 75, 0.1) !important;
        color: rgba(75, 75, 75, 0.5) !important;
        border: 1px solid rgba(75, 75, 75, 0.2) !important;
        border-radius: 30px !important;
        padding: 5px !important;
    }

    .nav-title-circle:hover {
        background-color: #00095A !important;
        color: #fff !important;
        border-radius: 30px !important;
        padding: 5px !important;
    }

    a.nav-title-circle.active {
        background-color: #00095A !important;
        color: #fff !important;
        border-radius: 30px !important;
        padding: 5px !important;
    }
}

@media (max-width: 575.98px) {
    .nav-title-circle {
        font-size: 10px;
        background-color: rgba(75, 75, 75, 0.1) !important;
        color: rgba(75, 75, 75, 0.5) !important;
        border: 1px solid rgba(75, 75, 75, 0.2) !important;
        border-radius: 30px !important;
        padding: 5px !important;
    }

    .nav-title-circle:hover {
        background-color: #00095A !important;
        color: #fff !important;
        border-radius: 30px !important;
        padding: 5px !important;
    }

    a.nav-title-circle.active {
        background-color: #00095A !important;
        color: #fff !important;
        border-radius: 30px !important;
        padding: 5px !important;
    }
}

.our-work-img
{
    cursor: pointer;
    transition: 0.5s;
}

.our-work-img:hover{
    transform: scale(1.1);
}




/******Footer******/

footer {
    background: #00095A;
    color: #fff;
}

.footer-row {
    padding: 100px;
}

@media (max-width: 2560px) {
    .footer-row {
        padding: 260px;
    }
}

@media (max-width: 1440px) {
    .footer-row {
        padding: 80px;
    }
}

@media (max-width: 1024px) {
    .footer-row {
        padding: 60px;
    }
}

@media (max-width: 425px) {
    .footer-row {
        padding: 65px;
    }
}

@media (max-width: 375px) {
    .footer-row {
        padding: 35px;
    }
}


/*****Quick Explore*****/

.quick-explore {
    color: #fff;
    text-decoration: none;
}

.quick-explore:hover {
    color: #fff;
    opacity: 0.5;
}

i {
    color: #fff;
    font-size: 20px;
}

.social-media {
    color: #fff;
    padding: 7px;
}

.social-media:hover {
    opacity: 0.5;
}

.txt-cen {
    position: relative;
    left: 0px;
}

.address-foot {
    position: relative;
    left: 30px;
    bottom: 25px;
}

.foot-mail-num {
    position: relative;
    right: 35px;
}

@media (max-width: 991.98px) {
    .txt-cen {
        position: relative;
        left: 0px;
    }
}

@media (max-width: 575.98px) {}

/***Location**/

.location-link {
    width: auto;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .location-link {
        width: 250px;
        height: auto;
    }
}

@media (max-width: 425px) {
    .location-link {
        width: 300px;
        height: auto;
    }
}


@media (max-width: 320px) {
    .location-link {
        width: 250px;
        height: auto;
    }
}